#giantHeader{
   width:100wh;
    height:100vh;
    background-color:cornflowerblue;   
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
 

h1{
  color:white;    
    font-family:'Amatic SC', cursive;
    font-size:100px;  
    animation-name: fadeIn; 
    animation-duration: 8s;
}



@keyframes fadeIn{
    
   /* <--COMMENT-->
    from {
        color: aquamarine;
    }
    to {
        color:mediumpurple;
    }*/
    
    0%{
        color: aquamarine; 
        font-size: 50px
    }
    25%{
        color: mediumpurple;
        font-size: 60px
    }
    50%{
        color: hotpink;
        font-size: 75px
    }
    75%{
        color: red;
        font-size: 85px
    }
    100%{
        color: yellow;
        font-size:95px
    }
}

table img{
   width:300px;
    height:450px;    
}

#movieInfo{
    width:100wh;
    
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
    margin: 60px;
}

td{
    padding: 30px;
    
}
    
#movieTable h3{
    text-align: center;
    color:cornflowerblue;
    font-family:Codystar, cursive;
    font-size:20px;
    margin-bottom: 0px
}

a{
    color:green
    text-decoration:none;
    
}

a:hover{
    color:aquamarine;
}

#movieTable p{
    text-align: center;
    margin: 0px
    margin-top: 20px
    font-family: sans-serif;
}

#fullMoviePage{
    width:100wh;
    height:100vh;
    margin-top: 50px;
    
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}

#movieLeft{
    width: 400px;
    display:flex;
    flex-direction: column;
    margin-right: 40px;     
}

#movieRight{
    margin-left: 40px;
}
    
#movieLeft h2{
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    color: slateblue;
}
    
    
#movieLeft p{
    font-family: sans-serif; 
    text-align: center;   
}   

#movieLeft h3{
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
}

#movieLeft ul{
    padding-left: 40%;
    
}

#movieRight img{
  width: 400px;  
    
}

iFrame{
    padding-left:30px   
}

#backButton {
    border 4px solid blue;
    padding: 10px;
    font-family: sans-serif;
    
    position:absolute;
    top: 50px;
    left: 80px;
    
}

#scrollDownButton{
    position:relative;
    top:5px;  
    cursor: pointer;
}

#myfavoriteWrappers{
    width:100wh;
    display:flex;
    justify-content: center;
    margin-bottom: 50px
    background-color: #303030;
    color:mediumpurple;
    padding-bottom: 50px;
    margin: 0px;
    }

#myFavorites li{
    font-family: 'Poiret One', cursive;
    font-size:20px;
    padding: 3px;
    text-align: center;
    
}

#movieTable h2,li{
    
}

#movieTable h2{
    color:blue;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-align: center;
    justify-content: center; 
    
}

    
}